/* INIT Style */
@font-face {
    font-family: nord;
    font-weight: normal;
    src: url(assets/fonts/GintoNordRegular.ttf);
}

*,
*::after,
*::before {
    box-sizing: border-box;

    font-family: nord;
}

body {
    margin: 0;

    color: white;
}

.intro {
    background-color: #404eed;
}

.intro header {
    display: flex;
    align-items: center;

    margin: 0 12px;
}

.intro .links {
    flex-grow: 1;

    text-align: center;
}
.intro .links > a {
    /* top&bottom - left&right */
    margin: 0 15px;

    color: white;
    text-decoration: none;
}

#login-btn {
    padding: 7px 16px;
    color: #22272a;
    border-radius: 40px;
    background-color: #ffff;
}

section .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

section .info h1 {
    font-size: 2rem;
}
section .info {
    margin: 0 18%;
    padding: 20px;
}

.control-links > button {
    margin-left: 20px;
    margin-right: 20px;
    background-color: black;
    border-radius: 30px;
    color: white;
}

#discordLogo {
    display: flex;
    gap: 1rem;
    align-items: center;
}

#discordLogo {
    color: rgba(255, 255, 255, 0.69);
    transition: 0.2s all ease-in-out;
}
#discordLogo:hover {
    color: white;
}
#discordLogoSvg {
    transition: 0.2s all ease-in-out;
}
#discordLogoSvg:hover {
    fill: white;
}
