*,
*::before,
*::after {
    box-sizing: border-box;

    border: 1px solid red;
}

@font-face {
    font-family: defaultFont;
    src: url(/assets/fonts/thin.ttf);
}

body {
    color: #c2c7df;
    text-align: center;
    background-color: #bfd1e2;
    display: grid;
    place-items: center;

    font-size: 1.8rem;
    font-family: defaultFont;
}

.content {
    width: 565pt;
    height: 1002pt;

    background: rgb(63, 75, 153);
    background: linear-gradient(
        90deg,
        rgba(63, 75, 153, 1) 0%,
        rgba(69, 82, 157, 1) 50%,
        rgba(69, 82, 157, 1) 100%
    );
    padding: 3rem 4rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-item {
    color: white;
    width: 48px;
    height: 48px;

    display: grid;
    place-items: center;
}
.header-item.title {
    flex-grow: 1;
}
.header-item img {
    width: 48px;
}

.logo {
    margin: 2rem;
    width: 90px;
}

.blue {
    color: #368ecc;
}

/* Forms */
/* Input type text */
input[type="text"] {
    border: none;
    background-color: transparent;
    color: #c2c7df;
    border-bottom: 1px solid #5965a6;
    width: 100%;
    padding-bottom: 10px;
    outline: none;
}

input[type="text"]::placeholder {
    color: #636caa;
}
